apiVersion: batch/v1
kind: Job
metadata:
  labels:
    app: {{ .Values.appName }}
    appId: "{{ .Values.appId }}"
  name: {{ .Values.appName }}
spec:
  backoffLimit: 3
  completions: 1
  parallelism: 1
  template:
    metadata:
      labels:
        app: {{ .Values.appName }}
        appId: "{{ .Values.appId }}"
    spec:
      containers:
      - name: job-container
        image: {{ .Values.image }}
        imagePullPolicy: "IfNotPresent"
      restartPolicy: Never
      terminationGracePeriodSeconds: 30
